.canvas {
  position: relative;
  
  width: 500px;
  height: 500px;
}

.part {
  --scale-x: 1;
  --scale-y: 1;

  position: absolute;
  left: calc(var(--position-x) - var(--offset-x));
  top: calc(var(--position-y) - var(--offset-y));

  width: var(--width);
  height: var(--height);

  transform: translate(-50%, -50%) scale(var(--scale-x), var(--scale-y));
}
