.container {
  display: flex;
  flex-direction: column;

  padding: 12px;
}

.controll {
  display: flex;
  flex-direction: column;
  padding: 24px 0px;
}

.controll:first-child {
  padding: 0px 0px 24px;
}

.controll:last-child {
  padding: 24px 0 0;
}

.controll > div {
  font-weight: 700;
}

.controll > * {
  padding-bottom: 16px;
}

.controll > label {
  display: flex;
  flex-direction: column;
}
